.App {
  height: calc(100vh - 90px);
  background: #131313
}

.outerWrap {
  background: grey;
  height: 100vh;
  min-height: 100%
}

.playBar {
  background: #282828;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
